.bg {
   background-color: red;
}

@import '../base/grid';
@import '../base/mixin';
@import '../base/reset';
@import '../base/typography';


h1 {
   font-size: 10px;

   @include max-sm {
      font-size: 55px;
   }

   @include min-sm {
      font-size: 20px;
   }

   @include min-lg {
      font-size: 30px;
   }

   @include min-xl {
      font-size: 40px;
   }

   @include min-xxl {
      font-size: 60px;
   }
}

a {
   @include border(10px, dashed, black, 5px);
}