/* container */
.container {
   width: 100%;
   margin: 0 auto;

   .row {
      display: flex;
      flex-wrap: wrap;
   }
}


/* grid cols */
$cols:12;
$xxl-width:1400px;
$xl-width:1200px;
$lg-width:992px;
$md-width:768px;
$sm-width:576px;


/* max-sm-width:575px; */
@media (max-width:$sm-width) {
   .container {
      width: 100%;
   }

   @for $i from 1 through $cols {
      .col-sm-#{$i} {
         width: (100/$cols)*$i*1%;
         padding: 0 15px;
      }
   }

}

/* sm-width:576px; */
@media (min-width:$sm-width) {
   .container {
      width: 540px;
   }

   @for $i from 1 through $cols {
      .col-sm-#{$i} {
         width: (100/$cols)*$i*1%;
         padding: 0 15px;

      }
   }
}

/* md-width:768; */
@media (min-width:$md-width) {
   .container {
      width: 720px;
   }

   @for $i from 1 through $cols {
      .col-md-#{$i} {
         width: (100/$cols)*$i*1%;
         padding: 0 15px;

      }
   }

}

/* lg-width:992; */
@media (min-width:$lg-width) {
   .container {
      width: 960px;
   }

   @for $i from 1 through $cols {
      .col-lg-#{$i} {
         width: (100/$cols)*$i*1%;
         padding: 0 15px;

      }
   }

}

/* xl-width:1200px; */
@media (min-width:$xl-width) {
   .container {
      width: 1140px;
   }

   @for $i from 1 through $cols {
      .col-xl-#{$i} {
         width: (100/$cols)*$i*1%;
         padding: 0 15px;

      }
   }

}

/* xxl-width:1400px; */
@media (min-width:$xxl-width) {
   .container {
      width: 1320px;
   }

   @for $i from 1 through $cols {
      .col-xxl-#{$i} {
         width: (100/$cols)*$i*1%;
         padding: 0 15px;

      }
   }

}

/*-------- max sm-mixin --------*/
@mixin max-sm {
   @media (max-width:$sm-width) {
      @content;
   }
}

/*--------- min-sm-mixin ---------*/
/* sm-mixin */
@mixin min-sm {
   @media (min-width:$sm-width) {
      @content;
   }
}

/* md-mixin */
@mixin min-md {
   @media (min-width:$md-width) {
      @content;
   }
}

/* lg-mixin */
@mixin min-lg {
   @media (min-width:$lg-width) {
      @content;
   }
}

/* xl-mixin */
@mixin min-xl {
   @media (min-width:$xl-width) {
      @content;
   }
}

/* xl-mixin */
@mixin min-xxl {
   @media (min-width:$xxl-width) {
      @content;
   }
}


/* max md-mixin */
@mixin max-md {
   @media (min-width:$sm-width) and (max-width:$md-width) {
      @content;
   }
}

/* max lg-mixin */
@mixin max-lg {
   @media (min-width:$md-width) and (max-width:$lg-width) {
      @content;
   }
}

/* max xl-mixin */
@mixin max-xl {
   @media (min-width:$lg-width) and (max-width:$xl-width) {
      @content;
   }
}

/* max xl-mixin */
@mixin max-xxl {
   @media (min-width:$xl-width) and (max-width:$xxl-width) {
      @content;
   }
}