/* display */
$display:block,
inline-block,
flex,
inline-flex,
grid,
none;

@each $i in $display {
   .#{$i} {
      display: $i;
   }
}

/* align-items */
$align_items:start,
center,
end;

@each $i in $align_items {
   .align-#{$i} {
      align-items: $i;
   }
}

/* justyfi-content */
$justyfi_content:center,
space-between,
space-around,
space-evenly,
start;

@each $i in $justyfi_content {
   .#{$i} {
      justify-content: $i;
   }
}

/* position  */
$position :relative,
absolute;

@each $i in $position {
   .#{$i} {
      position: $i;
   }
}

/* Text alignment  */
$text-alignment :start,
center,
end;

@each $i in $text-alignment {
   .text-#{$i} {
      text-align: $i;
   }
}

/* Text transform  */
$text_transform :lowercase,
capitalize,
uppercase;

@each $i in $text_transform {
   .#{$i} {
      text-transform: $i;
   }
}

/* Text decoration  */
$text_decoration :none,
underline,
line-through;

@each $i in $text_decoration {
   .text-#{$i} {
      text-decoration: $i;
   }
}



/* fonts_size */
$fonts_size:(h1, 56px, 61.1px, 700),
(h2, 48px, 52.8px, 600),
(h3, 40px, 44px, 500),
(h4, 32px, 35.2px, 500),
(h5, 24px, 26.2px, 400),
(h6, 20px, 22px, 400),
(p, 18px, 22px, 400);

@each $name,
$font_size,
$line_height,
$font_weight in $fonts_size {
   #{$name} {
      font-size: $font_size;
      line-height: $line_height;
      font-weight: $font_weight;
   }
}

